include data/**/*

doctype html
html(lang="ru")
  include parts/head

body.body#body
  header.header#header
    .container
      .header__wrapper.wrapper
        a.header__logo.link(href="#") &#9832; marinmar &#9832;
        .header__menu.menu
          .menu__icon
            span
          nav.menu__body
            ul.menu__list
              li.menu__item
                a.menu__link.link(href="#about", data-goto="#about") Обо мне
              li.menu__item
                a.menu__link.link(href="#works", data-goto="#works") Работы
              li.menu__item
                a.menu__link.link(href="#contacts", data-goto="#contacts") Контакты
        .header__lang.header__lang--toEn
          a.menu__link.link(href="index.html") EN

  main.main#main
  .container
    section.section#about
      .test
      h1.about__title.title
        | Добро пожаловать на страницу веб-портфолио верстальщика <b>marinmar<b>

      .about
        .about__wrapper.wrapper
          h2.about__subtitle.subtitle Обо мне
          p.about__text Меня зовут Марина, я frontend-веб-разработчик, верстальщик.

      .technologies
        h2.about__subtitle.subtitle Используемые технологии
        .technologies__wrapper.wrapper
          mixin technologies(imgSrc, imgAlt, description)
            .technologies__item.technology
              img.technology__img(src=`${imgSrc}`, alt=`${imgAlt}`)
              p.technology__text #{description}
          each technology in technologiesList
            +technologies(
              technology.imgSrc,
              technology.imgAlt,
              technology.description)

      .certificats
        h2.about__subtitle.subtitle Мои сертификаты
        .certificats__wrapper.wrapper
          mixin certificats(certificatLink, certificatImgLink, certificatImgAlt)
            .certificat
              a.certificat__link(href=`${certificatLink}`, target="_blank")
                img.certificat__img(src=`${certificatImgLink}`, alt=`${certificatImgAlt}`)
          each certificat in certificatsList
            +certificats(
              certificat.certificatLink,
              certificat.certificatImgLink,
              certificat.certificatImgAlt)


    section.section.works#works
      h2.works__subtitle.subtitle Работы
        .works__wrapper.wrapper
          mixin works(titleRu, descriptionRu, imgSrc, imgAltRu, previewLink, codeLink)
            .works__item.work
              h3.work__title.text #{titleRu}
              p.work__text.text #{descriptionRu}
              img.work__img(src=`${imgSrc}`, alt=`${imgAltRu}`)
              .work__links
                a.work__link.link(href=`${previewLink}`, target="_blank") На сайт
                a.work__link.link(href=`${codeLink}`, target="_blank") Код сайта
          each work in worksList
            +works(
              work.titleRu,
              work.descriptionRu,
              work.imgSrc,
              work.imgAltRu,
              work.previewLink,
              work.codeLink)

  footer.footer#contacts
    .container
      h2.footer__subtitle.subtitle.animation--fadeInUp &copy; &#9832; marinmar &#9832; &copy;
      ul.footer__contacts.contacts
        li.contacts__item
          a.contacts__link.link.contacts__link--email(href="mailto:marinmar6@yandex.ru", target="_blank") e-mail: marinmar6@yandex.ru
        li.contacts__item
          a.contacts__link.link.contacts__link--github(href="https://github.com/marin-mar?tab=repositories", target="_blank") GitHub
        li.contacts__item
          a.contacts__link.link.contacts__link--codepen(href="https://codepen.io/marinmar/pens/public", target="_blank") CODEPEN

  script(src="js/main.min.js")
