footer.footer#contacts
  .container
    h2.footer__subtitle.subtitle.animation--fadeInUp &copy; &#9832; marinmar &#9832; &copy;
    ul.footer__contacts.contacts
      li.contacts__item
        a.contacts__link.link.contacts__link--email(
          href="mailto:marinmar6@yandex.ru",
          target="_blank") e-mail
      li.contacts__item
        a.contacts__link.link.contacts__link--github(
          href="https://github.com/marin-mar?tab=repositories",
          target="_blank") GitHub
      li.contacts__item
        a.contacts__link.link.contacts__link--codepen(
          href="https://codepen.io/marinmar/pens/public",
          target="_blank") CODEPEN

